@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

.hero-image img {
  margin-top: 20px;
  width: 370px;
  height: 370px;
  background-position: 50%;
  border: 3px solid rgb(115, 112, 112);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.67);
  animation: ani123 8s ease-in-out infinite;
}

@keyframes ani123 {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.third {
  border-color: #070707;
  color: #050505;
  box-shadow: 0 0 40px 40px #040404 inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0.6em;
  color: #fffcfc;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  margin: 20px;
  padding: 0.8em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.btn:hover,
.btn:focus {
  color: #5fc564;
  outline: 0;
}

.github-icon {
  display: inline-block;
  vertical-align: middle;
}

.github-text {
  margin-right: 5px; /* Adjust this value for spacing between text and icon */
}

.hover-pointer:hover {
  cursor: pointer;
}





a:hover {
  color: rgb(0, 0, 0);
}


.App {
  font-family: sans-serif;
  text-align: center;
}
.vertical-timeline::before {
  /* this is the vertical line */

  background: black !important;
}

.empty {
  height: 600px;
  border: 1px solid red;
}

/* Add this CSS to your stylesheet or a separate CSS file */
/* Add this CSS to your stylesheet or a separate CSS file */
